# **Deep Learning - Perceptron Neural Netework**

## Classification

In [16]:
from sklearn.neural_network import MLPClassifier # Multi layer perceptron classifier

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
data_bank = pd.read_csv("Bank.csv")
data_bank.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,0
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

## **Doing data preprocessing**
* ### Data cleaning
     * here we only do duplicate rows removing but we have more other things

In [4]:
data_bank.duplicated().sum()

1281

In [5]:
data_bank.drop_duplicates(inplace=True)

In [6]:
data_bank.duplicated().sum() # Now we have clean data set

0

## Splitting data into training & testing

In [7]:
x = data_bank.iloc[:, :7] # all rows, first 7 columns 0 to 6 index
y = data_bank.iloc[:, 7] # alll rows, 7th column

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

## Let train the model using scikit learn
* We train the model to get response that applicant is able or not for a loan

In [9]:
clf_model  = MLPClassifier(alpha=0.01, hidden_layer_sizes = (5, 3), activation = "logistic", solver = "adam", random_state=1)
# alpha=0.01 ---> 
# hidden_layer_sizes = (5, 3) ---> first hidden layer has 5 neurons, second one has 3 neurons
# activation = "logistic" ---> identiy(linear), logistic,tanha, relu
# solver = "adam" ---> optimizer

In [10]:
clf_model.fit(x_train, y_train)

MLPClassifier(activation='logistic', alpha=0.01, hidden_layer_sizes=(5, 3),
              random_state=1)

In [11]:
y_predict = clf_model.predict(x_test)

In [12]:
accuracy_score(y_test, y_predict)

0.8907541969431221